*{
    padding: 0;
    margin: 0;
}

html{
    width: 100%;
    height: 100%;
}

body{
    color: black;
    font-family: Arial, sans-serif;
    font-weight: initial;
    background: #f9f9f9;
    /*letter-spacing: 0.01em*/
}

.clear_fix { clear: both; }

.fixed-container{
    margin: 0 auto;
    width: 1000px;
    height: 100%;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.gray_line {
    border-bottom: 1px solid #e0e0e0;
}